@import url(/home-page.css);
@import url(/utils.css);

.board-table {
  box-shadow: var(--box-shadow-clr);
  color: var(--clr-black);
  border-radius:1rem;
}

.board-table tr:first-child {
  background: var(--primary-clr);
  color: var(--clr-white);
}
.board-table tr:hover:not(:first-child) {
  background-color: var(--secondary-clr);
  color: var(--clr-white);
}

.board-table td {
  border-bottom: 2px solid var(--clr-black);
}

.board-table th,
.board-table td {  
  display: table-cell;
  padding: 1.5rem;
}

