@import url(/home-page.css);
@import url(/utils.css);


.quiz-box{
    box-shadow: var(--box-shadow-clr);
    width: 51rem;
    border-radius: 1rem;
}
.quiz-header{
    border-bottom: 2px solid var(--clr-black);
    justify-content: space-between;
}
.timer{
    color: var(--clr-white);
    background: var(--primary-clr);
    border-radius: 5px;
    gap :1rem;
    justify-content: space-around;
}

.question-txt{
    padding-inline: 1rem;
    margin-top: 1rem;
    color: var(--primary-clr);
}
.option-list .option{
    border:2px solid var(--primary-clr);
    background-color: var(--clr-white);
    color: var(--clr-black);
    border-radius: 5px;
    margin: 1rem 0;
    justify-content: space-between;
}
.option:focus .icon{
    background-color: var(--clr-white);
}

.option:focus{
    color: var(--clr-white);
    background-color: var(--primary-clr);
}
.option .icon{
    padding: 5px;
    border-radius: 50%;
}
.icon.tick{
    border: 2px solid var(--success-clr);
    color: var(--success-clr);
}
.icon.wrong{
    border: 2px solid var(--clr-red);
    color: var(--clr-red);
}
.btn-container{
    justify-content: space-between;
    padding-inline: 1rem;
}
.next-btn{
    margin-left: auto;
}
.result-btn-link{
    justify-content: flex-end;
}
@media only screen and (max-width:450px){
    .quiz-title{
        font-size: 2.25rem;
    }
    .timer{
        height: 3.5rem;
        width: 12.5rem;
    }
    .time-left{
        font-size: 1.25rem;
    }
    .question-txt{
        font-size: 1.5rem;
    }
    .option{
        font-size: 1.5rem;
    }
    .next-btn,
    .result-btn,
    .new-quiz-btn{
        font-size: 1.5rem;
    }
}